html{
    background-image: url(/img/bien.jpg);
    background-size: 100%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
#bubble{
    animation-name: bubble;
}
.water {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 11;
    overflow: hidden;
}
.water::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 136px;
    top: 100%;
    left: 10%;
    transform: scale(0.8);
    background: url(/img/bubble.png) bottom no-repeat;
    animation: bubble 10s linear infinite;
}
.water::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 136px;
    top: 100%;
    right: 10%;
    background: url(/img/bubble.png) bottom no-repeat;
    transform: rotateY(180deg);
    animation: bubble 15s linear infinite;
    animation-delay: 5s;
}
.water1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 11;
    overflow: hidden;
}
.water1::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 136px;
    top: 100%;
    left: 40%;
    transform: scale(0.8);
    background: url(/img/bubble.png) bottom no-repeat;
    animation: bubble 12s linear infinite;
}
.water2::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 136px;
    top: 100%;
    right: 40%;
    background: url(/img/bubble.png) bottom no-repeat;
    transform: rotateY(180deg);
    animation: bubble 22s linear infinite;
    animation-delay: 7s;
}
.water2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 11;
    overflow: hidden;
}
.water2::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 136px;
    top: 100%;
    left: 25%;
    transform: scale(0.8);
    background: url(/img/bubble.png) bottom no-repeat;
    animation: bubble 20s linear infinite;
}
.water1::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 136px;
    top: 100%;
    right: 0%;
    background: url(/img/bubble.png) bottom no-repeat;
    transform: rotateY(180deg);
    animation: bubble 17s linear infinite;
    animation-delay: 10s;
}
@keyframes bubble {
    0% {
        top: 100%;
    }
    100% {
        top: calc(0% - 140px);
    }
}
.fish {
    position: absolute;
    z-index: 10;
}
.fish1 {
    background: url(/img/fish.png) center no-repeat;
    background-size: contain;
    width: 80px;
    height: 80px;
    top: 70%;
    left: 0;
    transform: rotateY(180deg);
    animation: fish 20s linear infinite;
}
@keyframes fish {
    0% {
        left: 0;
        top: 70%;
        transform: rotateY(180deg);
    } 50% {
        left: calc(100% - 80px);
        top: 40%;
        transform: rotateY(180deg);
    } 50.1% {
        transform: rotateY(0deg);
        top: 40%;
    } 100% {
        left: 0;
        top: 70%;
        transform: rotateY(0deg);
    }
}
.fish2 {
    background: url(/img/fish1.png) center no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 0;
    transform: rotateY(180deg);
    animation: fish1 18s linear infinite;
}
@keyframes fish1 {
    0% {
        left: 0;
        top: 50%;
        transform: rotateY(180deg);
    } 50% {
        left: calc(100% - 100px);
        top: 60%;
        transform: rotateY(180deg);
    } 50.1% {
        transform: rotateY(0deg);
        top: 60%;
    } 90% {
        left: 0;
        top: 50%;
        transform: rotateY(0deg);
    }
}
.fish3 {
    background: url(/img/fish2.png) center no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
    top: 30%;
    right: 0;
    transform: rotateY(0deg);
    animation: fish2 22s linear infinite;
}
@keyframes fish2 {
    0% {
        right: 0px;
        top: 30%;
        transform: rotateY(0deg);
    } 50% {
        right: calc(100% - 60px);
        top: 40%;
        transform: rotateY(0deg);
    } 50.1% {
        transform: rotateY(180deg);
        top: 40%;
    } 95% {
        top: 30%;
        transform: rotateY(180deg);
    }
}
.fish4 {
    background: url(/img/fish4.png) center no-repeat;
    background-size: contain;
    width: 80px;
    height: 80px;
    top: 40%;
    right: 0;
    transform: rotateY(180deg);
    animation: fish3 25s linear infinite;
}

@keyframes fish3 {
    0% {
        right: 0px;
        top: 40%;
        transform: rotateY(0deg);
    } 50% {
        right: calc(100% - 80px);
        top: 60%;
        transform: rotateY(0deg);
    } 50.1% {
        transform: rotateY(180deg);
        top: 60%;
    } 100% {
        top: 40%;
        transform: rotateY(180deg);
    }
}
.fish5 {
    background: url(/img/blowfish.png) center no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    top: 10px;
    right: 0;
    transform: rotateY(180deg);
    animation: fish4 15s linear infinite;
}

@keyframes fish4 {
    0% {
        right: 0px;
        top: 40%;
        transform: rotateY(0deg);
    } 60% {
        right: calc(100% - 80px);
        top: 60%;
        transform: rotateY(0deg);
    } 60.1% {
        transform: rotateY(90deg);
        top: 60%;
    } 100% {
        top: 40%;
        transform: rotateY(180deg);
    }
}
.fish6 {
    background: url(/img/goldFishSchool.png) center no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
    top: 10px;
    right: 0;
    transform: rotateY(180deg);
    animation: fish5 17s linear infinite;
}
.fish7 {
    background: url(/img/goldFishSchool.png) center no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 0;
    transform: rotateY(180deg);
    animation: fish5 17s linear infinite;
}
@keyframes fish5 {
    0% {
        right: 0px;
        top: 10%;
        transform: rotateY(0deg);
    } 50% {
        right: calc(100% - 80px);
        top: 20%;
        transform: rotateY(0deg);
    } 50.1% {
        transform: rotateY(180deg);
        top: 30%;
    } 100% {
        top: 20%;
        transform: rotateY(180deg);
    }
}
.fish8 {
    background: url(/img/faintSchool.png) center no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
    top: 0px;
    right: 0;
    transform: rotateY(180deg);
    animation: fish6 30s linear infinite;
}
@keyframes fish6 {
    0% {
        right: 0px;
        top: 5%;
        transform: rotateY(0deg);
    } 50% {
        right: calc(100% - 80px);
        top: 5%;
        transform: rotateY(0deg);
    } 50.1% {
        transform: rotateY(180deg);
        top: 5%;
    } 100% {
        top: 5%;
        transform: rotateY(180deg);
    }
}
.fish9 {
    background: url(/img/butterfly-fish.png) center no-repeat;
    background-size: contain;
    width: 90px;
    height: 90px;
    top: 80%;
    left: 0;
    transform: rotateY(180deg);
    animation: fish7 19s linear infinite;
}
@keyframes fish7 {
    0% {
        left: 0px;
        top: 80%;
        transform: rotateY(0deg);
    } 50% {
        left: calc(100% - 80px);
        top: 85%;
        transform: rotateY(0deg);
    } 50.1% {
        transform: rotateY(180deg);
        top: 75%;
    } 100% {
        top: 70%;
        transform: rotateY(180deg);
    }
}
.fish10 {
    background: url(/img/urchin.png) center no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    top: 85%;
    left: 0;
    transform: rotateY(180deg);
    animation: fish8 20s linear infinite;
}
@keyframes fish8 {
    0% {
        left: 0px;
        top: 85%;
        transform: rotateY(0deg);
    } 70% {
        left: calc(100% - 50px);
        top: 80%;
        transform: rotateY(0deg);
    } 70.1% {
        transform: rotateY(180deg);
        top: 80%;
    } 100% {
        top: 85%;
        transform: rotateY(180deg);
    }
}
.shark {
    background: url(/img/shark.png) center no-repeat;
    background-size: contain;
    width: 300px;
    height: 300px;
    top: 0;
    left: 30%;
    transform: rotateY(-90deg);
    animation: shark 5s linear infinite;
}
@keyframes shark {
    0% {
        left: 30%;
        top: 0px;
        transform: rotateY(0deg);
    } 50% {
        left: 50%;
        top: 5px;
        transform: rotateY(0deg);
    } 50.1% {
        transform: rotateY(180deg);
        top: 0px;
    } 100% {
        top: 5px;
        transform: rotateY(180deg);
    }
}
.bluewhale {
    background: url(/img/blue-whale.png) center no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    top: 0;
    right: 10%;
    transform: rotateY(-90deg);
    animation: bluewhale 5s linear infinite;
}
@keyframes bluewhale {
    0% {
        right: 30%;
        top: 0px;
        transform: rotateY(0deg);
    } 50% {
        right: 70%;
        top: 25px;
        transform: rotateY(0deg);
    } 50.1% {
        transform: rotateY(180deg);
        top: 30px;
    } 70% {
        transform: rotateY(180deg);
        top: 35px;
    } 100% {
        top: 45px;
        transform: rotateY(180deg);
    }
}
#turtle{
    animation: Turtle 20s linear infinite;
    position: absolute;
    left: 100px; top: 30px;
    position: absolute;
    animation-play-state: running;
}
@keyframes Turtle{
    0% {left:200px; top:30px; }
    25% {left:400; top:50px; }
    50% {left:600px; top:50px;}
    75% {left:800px; top:30px;}
    100% {left:1000px; top:50px;}
}
#diver1{
    left: 100px; top:100px;
    z-index: 11;
    position: absolute;
    animation: Diver1 5s linear infinite;
    animation-play-state: running;
}
@keyframes Diver1{
    0% {left:50px; top:100px;}
    25% {left:300px; top:300px;}
    45% {left:500px; top:400px;}
    65% {left:600px; top:400px;}
    85% {left: 80%; top:250px; transform: scaleY(180deg);}
    100% {left:100%; top:100px; transform: scaleY(180deg);}
}
#diver2{
    right: 10px;
    top:10px;
    position: absolute;
    animation: Diver2 15s linear infinite;
    animation-play-state: running;
}
@keyframes Diver2{
    0% {right:50px; top:10px;transform: scaleY(0deg);}
    25% {right:300px; top:30px;transform: scaleY(0deg);}
    45% {right:500px; top:30px;transform: scaleY(0deg);}
    65% {right:600px; top:20px;transform: scaleY(0deg);}
    85% {right:80%; top:25px; transform: scaleY(180deg);}
    100% {right:100%; top:10px; transform: scaleY(180deg);}
}
.jellyfish1 {
    animation: jellyfish 20s linear infinite;
    position: absolute;
    bottom: 10px;
    left: 50%;
}
.jellyfish2 {
    animation: jellyfish 25s linear infinite;
    position: absolute;
    bottom: 0px;
    left: 0;
}
@keyframes jellyfish {
    0% {
        bottom: 0px;
    }
    100% {
        bottom: 500px;
    }
}
.crab {
    position: absolute;
    background: url(/img/crab.png) center no-repeat;
    background-size: contain;
    width: 90px;
    height: 90px;
    top: 45%;
    right: 0;
    transform: rotateY(180deg);
    animation: crab 5s linear infinite;
}
@keyframes crab {
    0% {
        right: 0px;
        top: 45%;
        transform: rotateY(0deg);
    } 50% {
        right: 300px;
        top: 55%;
        transform: rotateY(0deg);
    } 50.1% {
        transform: rotateY(180deg);
        top: 55%;
    } 100% {
        top: 45%;
        transform: rotateY(180deg);
    }
}
.shrimp {
    position: absolute;
    background: url(/img/shrimp.png) center no-repeat;
    background-size: contain;
    width: 90px;
    height: 90px;
    top: 70%;
    right: 450px;
    transform: rotateY(180deg);
    animation: shrimp 7s linear infinite;
}
@keyframes shrimp {
    0% {
        right: 450px;
        top: 70%;
        transform: rotateY(0deg);
    } 50% {
        right: 800px;
        top: 70%;
        transform: rotateY(0deg);
    } 50.1% {
        transform: rotateY(180deg);
        top: 70%;
    } 100% {
        top: 70%;
        transform: rotateY(180deg);
    }
}
