*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #024CAA;
}

header {
    background-image: linear-gradient(#091057,#024CAA);
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 0px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 35px rgba(0,0,0,0.1);
}

.container .left_Side{
    position: relative;
    background: #0b1367;
    padding: 40px;
}

.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.profileText .imgBx{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .imgBx img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profileText h2 span{
    font-size: 0.8em;
    font-weight: 300;
}

.contactInfo{
    padding-top: 40px;
}

.title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactInfo ul{
    position: relative;
}

.contactInfo ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contactInfo ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: aqua;
}

.contactInfo ul li span{
    color: #fff;
    font-weight: 300;
}

.contactInfo.education li{
    margin-bottom: 15px;
}

.contactInfo.education h5{
    color: #03a9f4;
    font-weight: 500;
}

.contactInfo.education h4{
    color: #fff;
    font-weight: 300;
}

.contactInfo.skills .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}

.contactInfo.skills .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}

.container .right_Side{
    width: 100%;
    position: relative;
    background: #024CAA;
    padding-top: 50px;
    padding-left: 50px;
}

.about{
    margin-bottom: 50px;
}

.about:last-child{
    margin-bottom: 0;
}

.title2{
    color: aliceblue;
    text-transform: uppercase;
}

.about ul li{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
}

p{
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.about h3{
    color: rgb(6, 240, 240);
}

.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year{
    min-width: 150px;
}

.about .box .year h5{
    text-transform: uppercase;
    color: black;
    font-weight: 600px;
}

.about .box .text h4{
    text-transform: uppercase;
    color: #91d7f4;
    font-size: 16px;
}

.contact{
    margin: 50px;
    color: #fff;
    text-align: center;
}

a{
    color:aqua;
    text-decoration: none;
}

a:hover{ color: #91d7f4;}

footer {
    background-image: linear-gradient(#024CAA,#091057);;
    color: white;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
